
<!DOCTYPE html>
<html lang="en">
<% include ../templates/head.ejs %>
<body>
<% include ../templates/home-navbar.ejs %>


    <div class="uk-container">
        <div class="uk-container uk-padding uk-width-1-3@s">
            <h2>Change Password</h2>
            <form class="uk-form" role="form" method="POST" action= "<%= '/auth/reset_password/' +  token  %>"   enctype="application/x-www-form-urlencoded">


                <label >New password</label>
                <input type="password" id="new_password" name="new_password" class="uk-input" required autofocus >

                <label>Confirm new password</label>
                <input type="password" id="confirm_new_password" name="confirm_new_password" class="uk-input" required autofocus >


                <div class="uk-container uk-width-1-1 uk-text-center uk-margin uk-child-width-1-2" uk-grid>
                     <div><a href="/auth/login" class="uk-button uk-button-default uk-button-small">Go back to the login page <i class="fa fa-arrow-left"></i></a></div>
                     <button type="submit" class="uk-button uk-button-primary">Reset password </button>
                </div>
              </form>

          </div>
    </div>

<%= message %>



<% include ../templates/scripts.ejs %>
</body>
<% include ../templates/foot.ejs %>
</html>
