
<div class="uk-button uk-button-default uk-button-small uk-modal-close" type="button" uk-toggle="target: #fig-modal"><i class="fa fa-plus"></i> Figure</div>

<div id="fig-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
         <a class="uk-modal-close-default" type="button" uk-close></a>

        <form id="newFigForm" class="uk-form uk-form-horizontal" method="POST" action="/figures" enctype='multipart/form-data'>

        <h3>New Figure</h3>



        <label>File</label>
        <div class="uk-width-1-1">
            <div uk-form-custom>
                <input class="uk-file" type="file" id="file" name="upload" placeholder="Upload file(s)" oninput="previewFiles($(this))" accept="image/*" required/>
                <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                <div class="uk-width-1-1 uk-flex uk-flex-wrap uk-flex-middle" id="preview"></div>
                <input name="file_folder" value="collabwriter_figures" style="display:none" />
            </div>

            <progress class='uk-progress' id='upload-progress' style="display:none"></progress>

        </div>


        <label>Caption</label>
        <textarea class="uk-textarea" name="caption" id="caption" rows="3"></textarea>



        <div class="uk-flex uk-flex-right uk-padding-small">
           <div class="uk-button uk-button-default" onclick="$('#newFigForm')[0].reset()"><i class="fa fa-refresh"></i> Reset form</div>
           <div class="uk-button uk-button-primary" onclick="uploadFigure($('#newFigForm'))"><i class="fa fa-upload"></i> Upload</div>
        </div>

        </form>




        <script>

          function getCursorPos(input) {
                  if ("selectionStart" in input && document.activeElement == input) {
                      return {
                          start: input.selectionStart,
                          end: input.selectionEnd
                      };
                  }
                  else if (input.createTextRange) {
                      var sel = document.selection.createRange();
                      if (sel.parentElement() === input) {
                          var rng = input.createTextRange();
                          rng.moveToBookmark(sel.getBookmark());
                          for (var len = 0;
                                   rng.compareEndPoints("EndToStart", rng) > 0;
                                   rng.moveEnd("character", -1)) {
                              len++;
                          }
                          rng.setEndPoint("StartToStart", input.createTextRange());
                          for (var pos = { start: 0, end: len };
                                   rng.compareEndPoints("EndToStart", rng) > 0;
                                   rng.moveEnd("character", -1)) {
                              pos.start++;
                              pos.end++;
                          }
                          return pos;
                      }
                  }
                  return -1;
              }

            function uploadFigure(form){
                  var cursor = $('#bodyEditor')[0].selectionStart

                  
                  console.log(cursor)

                  var modal = document.getElementById('fig-modal')
                  console.log("Uploading figure form")


                  $('.uk-progress').show()
                  $('.uk-progress').width('0%')
                  $('.uk-progress').text('0%')
                  console.log(form[0])

                  var formData = new FormData(form[0])

                  var file = $('#file')[0].files
                  formData.append('upload', file)
                  console.log(file)
                  if(file){
                      form.find(':input').prop("disabled", true);
                        $.ajax({
                            url: '/figures',
                            type: "POST",
                            data: formData,
                            cache:false,
                            contentType: false,
                            processData: false,
                            xhr: function() {

                              $('progress').css('background','#ff4')
                              $('progress::-webkit-progress-value').css('background','#ff4')
                                  var myXhr = new XMLHttpRequest();
                                  myXhr.upload.addEventListener('progress',function(evt){
                                    if(evt.lengthComputable){
                                        var percentageComplete = evt.loaded / evt.total
                                        percentageComplete = parseInt(percentageComplete * 100)
                                        $('progress').text(percentageComplete + '%')
                                        $('progress').width(percentageComplete + "%")

                                    if(percentageComplete === 100){
                                        $('.uk-progress').width("100%")
                                        //form[0].reset()

                                        UIkit.modal(modal).hide()

                                      }
                                    }
                                  }, false );

                                  return myXhr;
                            },
                            success: function(resp) {
                                form.find(':input').prop("disabled", false);
                                    console.log(resp)
                                    insertFigure(resp.data, cursor)

                                },
                            error: function(resp){
                              form.find(':input').prop("disabled", false);
                                    console.log(resp)
                            }

                        });

                  }
                  else{
                    message({message:'Please pick at least one file to upload',status:'warning'})
                  }




        }



    function insertFigure(fig, loc){

      console.log(fig.caption, loc)

    }







        </script>






    </div>
</div>
