
<nav class="uk-navbar-container" uk-navbar="mode:click">


    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li><a class="uk-icon" href="/"><span class="uk-icon uk-icon-image" style="background-image: url(/images/mapp_logo.png);"></span> Home</a></li>
        </ul>

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li uk-tooltip='title:Read the documentation related to this system; delay:250; pos:bottom'><a href="/docs/" ><i class="fa fa-book fa-lg"></i></a></li>
            <li uk-tooltip='title:Report a Bug or Issue on this projects Github page; delay:250; pos:bottom'><a href="https://github.com/benthomasuos/collabwriter/issues"> <i class="fa fa-github fa-lg"></i></a></li>
        </ul>

    </div>

</nav>
