

<div id="offcanvas-nav" uk-offcanvas="mode: reveal; overlay: true">

    <div class="uk-offcanvas-bar uk-width-medium">



      <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
         <li><a href="/home">Home  <i class='fa fa-home'></i></a></li>
       <li class="uk-parent"><a href="#">Powders</a>
         <ul class="uk-nav-sub">
             <li><a href="/powders">Powders</a></li>
             <li><a href="/powders/samples">Samples</a></li>
         </ul>
       </li>
       <li class="uk-parent">
           <a href="#">Powder Bed Fusion</a>
           <ul class="uk-nav-sub">
               <li><a href="/processing/pbf/home">Builds</a></li>
               <li><a href="/processing/pbf/parts">Parts</a></li>
               <li><a href="/processing/pbf/machines">Machines</a></li>
           </ul>
       </li>
       <li class="uk-parent">
           <a href="#">FAST/SPS</a>
           <ul class="uk-nav-sub">
               <li><a href="/processing/fast/home">Runs</a></li>
               <li><a href="/processing/fast/recipes">Recipes</a></li>
               <li><a href="/processing/fast/tools">Toolsets</a></li>
               <li><a href="/processing/fast/parts">Parts</a></li>
           </ul>
       </li>
       <li class="uk-parent">
           <a href="#">Characterisation <i class='fa fa-flask'></i></a>
           <ul class="uk-nav-sub">
               <li><a href="#">Imaging</a>
                 <ul>
                    <li><a href="/characterisation/imaging/home">Optical/SEM</a></li>
                    <li><a href="/characterisation/tem/home">TEM</a></li>
                    <li><a href="/characterisation/clemex/home">Clemex</a></li>
                    <li><a href="/characterisation/ebsd/home">EBSD</a></li>
                 </ul>
               </li>
               <li><a href="#">Particles</a>
                 <ul>
                   <li><a href="/characterisation/mastersizer/home">Malvern Mastersizer</a></li>
                   <li><a href="/characterisation/g3/home">Malvern G3</a></li>
                 </ul>
               </li>

                <li><a href="#">Density</a>
                  <ul>
                    <li><a href="/characterisation/tapdensity/home">Tap Density</a></li>
                    <li><a href="/characterisation/pycnometry/home">Helium Pycnometry</a></li>
                  </ul>
                </li>
                  <li><a href="#">Rheology</a>
                    <ul>
                      <li><a href="/characterisation/flow/home">Hall/Carney Flow</a></li>
                      <li><a href="/characterisation/ao/homer">Angle of Repose</a></li>
                      <li><a href="/characterisation/avalanche/home">Avalanche Angle</a></li>
                      <li><a href="/characterisation/shearcell/home">Shear Cell</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Mechanical</a>
                    <ul>
                      <li><a href="/characterisation/powder_compression/home">Uniaxial Powder Compression</a></li>
                      <li><a href="/characterisation/ball_indent/home">Ball Indentation</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Chemistry/phases</a>
                    <ul>
                      <li><a href="#">ICP/LECO</a></li>
                      <li><a href="/characterisation/xrd/home">X-Ray diffraction</a></li>
                    </ul>
                  </li>
              </ul>
          </li>


           <li class="uk-nav-divider"></li>
           <li><a href="/methods">Test methods/standards</a></li>


           <li class="uk-nav-divider"></li>
           <li><a href="/projects">Projects <i class='fa fa-industry'></i></a></li>

           <li class="uk-nav-divider"></li>
           <li><a href="/inventory">Inventory <i class='fa fa-page'></i></a></li>
           <li><a href="/admin">Admin <i class='fa fa-dashboard'></i></a></li>


           </ul>

    </div>
</div>
