<div class='uk-container uk-width-1-1 uk-flex uk-flex-column' id="main_menu">




  <h2>Powders</h2>
  <div class='uk-container uk-width-1-1 uk-flex uk-flex-inline uk-flex-wrap'>

      <div class='menu_div'>
          <h3>Powders</h3>
          <a class=" " href="/powders">Powders (batches)</a>
      </div>
       <div class='menu_div'>
          <h3>Powder Samples</h3>
          <a class=" " href="/powder/samples">Powder Samples</a>
      </div>
      <div class='menu_div'>
         <h3>Powder Storage</h3>
         <a class=" " href="/powders/containers">Containers</a>
         <a class=" " href="/powders/storage">Storage</a>
     </div>
  </div>




<h2>Powder Characterisation</h2>
<div class='uk-container uk-width-1-1 uk-flex uk-flex-inline uk-flex-wrap'>

  <div class="menu_div">
                     <h3>Particles</h3>
                     <a class=" " href="/characterisation/mastersizer"> PSD - Malvern Mastersizer</a>
                     <a class=" " href="/characterisation/g3"> PSD - Malvern G3</a>
                     <a class=" " href="/characterisation/clemex?type=powder"> PSD - Clemex </a>
                     <a class=" " href="/characterisation/hardness"> Hardness </a>
  </div>
  <div class="menu_div">
                     <h3>Powder Density</h3>
                     <a class=" " href="/characterisation/pycnometry"> Helium Pycnometry</a>
                     <a class=" " href="/characterisation/density"> Tap Density </a>
  </div>
  <div class="menu_div">
                     <h3>Powder Chemistry</h3>
                     <a class=" " href="/characterisation/chemistry">Chemistry</a>
                     <a class=" " href="/characterisation/icp">ICP/LECO</a>
                     <a class=" " href="/characterisation/xrd">X-Ray Diffraction</a>
  </div>
  <div class="menu_div">
                     <h3>Rheology</h3>
                     <a class=" " href="/characterisation/flow">Hall/Carney Flow</a>
                     <a class=" " href="/characterisation/aor">Angle of Repose</a>
                     <a class=" " href="/characterisation/shearcell">Shear cell</a>
  </div>
  <div class="menu_div">
                     <h3>Rheology - FT4</h3>
                     <a class=" " href="/characterisation/ft4_stability">Stability and Variable Flow Rate</a>
                     <a class=" " href="/characterisation/ft4_aeration">Aeration</a>
                     <a class=" " href="/characterisation/ft4_consolidation">Consolidation</a>
                     <a class=" " href="/characterisation/ft4_permeability">Permeability</a>
                     <a class=" " href="/characterisation/ft4_compressibility">Compressibility</a>
                     <a class=" " href="/characterisation/ft4_shearcell">Shear cell</a>
                     <a class=" " href="/characterisation/ft4_wall_friction">Wall friction</a>
  </div>

</div>





  <h2>Processes</h2>
  <div class='uk-container uk-width-1-1 uk-flex uk-flex-inline uk-flex-wrap'>

      <div class='menu_div'>
        <h3>Processing </h3>
          <a class=" " href="/processing/atomisation">Atomisation</a>
      </div>

      <div class="menu_div">

          <h3>Powder Bed Fusion</h3>
          <a class="disabled " href="/processing/pbf/builds">Builds</a>
          <a class="disabled " href="/processing/pbf/parts">Parts</a>

      </div>
      <div class="menu_div">
          <h3>FAST/SPS</h3>
          <a class=" " href="/processing/fast/recipes">Recipes</a>
          <a class=" " href="/processing/fast/runs">Runs</a>
          <a class=" " href="/processing/fast/tools">Toolsets</a>
      </div>

  </div>






<h2>Parts</h2>
<div class='uk-container uk-width-1-1 uk-flex uk-flex-inline uk-flex-wrap'>


    <div class="menu_div">
      <h3>Parts</h3>
      <a class=" " href="/parts">All parts</a>
      <a class="disabled" href="#">PBF parts</a>
      <a class="disabled" href="#">FAST/SPS parts</a>
    </div>
    <div class="menu_div">
      <h3>Samples</h3>
        <a class="disabled" href="/samples?type=Metallographic">Metallographic</a>
        <a class="" href="/samples?type=Chemistry">Chemistry</a>
        <a class="" href="/samples?type=Mechanical">Mechanical</a>

      </div>

</div>






<h2>Characterisation</h2>
<div class='uk-container uk-width-1-1 uk-flex uk-flex-inline uk-flex-wrap'>

    <div class="menu_div">
                       <h3>Imaging</h3>
                       <a class=" " href="/characterisation/imaging">Optical/SEM/TEM</a>
                       <a class=" " href="/characterisation/clemex?type=solid">Clemex </a>
                       <a class="disabled " href="/characterisation/ebsd">EBSD </a>
    </div>

    <div class="menu_div">
                       <h3>Mechnical Properties</h3>
                       <a class="disabled " href="/characterisation/tensile">Tensile</a>
                       <a class="disabled " href="/characterisation/compression">Compression</a>
                       <a class="disabled " href="/characterisation/torsion">Torsion</a>
                       <a class="disabled " href="/characterisation/bend">3-4 Point Bend</a>
                       <a class="disabled " href="/characterisation/impact">Impact</a>
    </div>
    <div class="menu_div">
                       <h3>Dynamic Properties</h3>
                       <a class="disabled " href="/characterisation/linear_fatigue">Fatigue</a>
                       <a class="disabled " href="/characterisation/bend_fatigue">3-4 Point Bend (cyclic)</a>
    </div>

</div>





<h2>Admin</h2>

  <div class='uk-container uk-width-1-1 uk-flex uk-flex-inline uk-flex-wrap'>

      <div class="menu_div">
        <h3>Projects</h3>
        <a class="" href="/projects">All Projects</a>
        <a class="disabled " href="/projects?category=PBF">PBF projects</a>
        <a class="disabled " href="/projects?category=FAST">FAST/SPS Projects</a>
        <a class="disabled " href="/projects?category=Atomisation">Atomisation Projects</a>
      </div>

    <div class="menu_div">
       <h3>Test Procedures/Standards</h3>
       <a class=" " href="/characterisation/methods">Methods</a>
    </div>

    <div class="menu_div">
       <h3>Media </h3>
        <a class=" " href="/media">Images</a>
        <a class="disabled " href="/media/videos">Videos</a>
        <a class="disabled " href="/media/audio">Audio</a>
      </div>

      <div class="menu_div">
        <h3>Documents </h3>
         <a class="" href="/media?type=docs&category=msds">MSDS</a>
         <a class="" href="/media?type=docs&category=coshh">COSHH</a>
         <a class="" href="/media?type=docs&category=standards">Standards</a>
       </div>

</div>


</div>
