<label >Username</label>
<input type="text" id="username" name="username" placeholder="Username" class="uk-input" autofocus required autocomplete="username">

<label >First Name</label>
<input type="text" id="firstName" name="firstname" placeholder="First Name" class="uk-input" autofocus required autocomplete="firstname">

<label >Last name</label>
<input type="text" id="surname" name="surname" placeholder="Last Name" class="uk-input" autofocus required autocomplete="surname">

<label>Email</label>
<input type="email" id="email" name="email" placeholder="E-mail" class="uk-input" required autocomplete="email">


<label>Password</label>
<input type="password" id="password" name="password" placeholder="Password" class="uk-input" required >

<label>Confirm password</label>
<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" class="uk-input" required>

<label>Institution</label>
<select id="university" class="uk-select" name="institution" required >
    <option>Imperial College London</option>
    <option>University of Manchester</option>
    <option>University of Oxford</option>
    <option>University of Leeds</option>
    <option>University of Sheffield</option>
</select>
