<!DOCTYPE html>
<html lang="en">
<% include ../templates/head.ejs %>
<body>
<% include ../templates/home-navbar.ejs %>

<div class="uk-container uk-text-center uk-width-1-2 uk-height-1-1 uk-padding-large">
    <h1>Oops!</h1>


    <div class="uk-container uk-padding-large">
        <i class="fa fa-question fa-5x"></i>
        <h3>You went and found a 404 error.</h3>
    </div>
    <div class="uk-container uk-padding-large">

        <p>It appears we cant't find the page you requested.</p>

    </div>
</div>


</body>
<% include ../templates/foot.ejs %>
</html>
