html {
    overflow-x: hidden;
    font-size: 1em;
    background: #fff;
    height: 100%;
    padding:none
}

body {
    color: #444;
    font-family: "Helvetica", sans-serif;
    overflow-x: hidden;
    height: 100%;
    padding:10px
}


textarea {
  outline: none;
  resize: none;
  overflow: auto;
  width: 95%;
  border-color: #eee

}

#bodyEditor > textarea {
  height: 80vh;
}

#docId {
  display:none;
}

#renderBox{
  margin: 20px;
  font-size: 0.875em;
  font-family: 'Lusitana', serif;
  height: 85vh;
  overflow: scroll
}

#renderBox > h1, #renderBox > h2, #renderBox > h3, #renderBox > h4, #renderBox > h5, #renderBox > h6, #renderBox > div, #renderBox > p{
  font-family: inherit;
}

#renderBox > h1 {
  font-size: 1.6em;
}

#renderBox > h2 {
  font-size: 1.3em;
}
