<!DOCTYPE html>
<html lang="en">
<% include ../templates/head.ejs %>
<body>

<h1><a href='/'>CollabWriter</a></h1>
<span id='docId'><%= id %></span>
<div class='uk-width-1-1 uk-flex uk-flex-between uk-margin-small'>
  <div>
    <div class='uk-button uk-button-default uk-button-small'onclick='newDoc()'><i class='fa fa-plus'></i> New Doc</div>
    <div class='uk-button uk-button-default uk-button-small'onclick='saveDoc()'><i class='fa fa-save'></i></div>
    <div class='uk-button uk-button-default uk-button-small'onclick='printDoc()'><i class='fa fa-print'></i></div>
    <div class='uk-button uk-button-default uk-button-small'onclick='newRef()'><i class='fa fa-plus'></i> Reference</div>
    <% include ../templates/forms/new_figure.ejs %>
    <a class='uk-button uk-button-default uk-button-small' href='/viewer/<%= id %>'><i class='fa fa-eye'></i> Viewer</a>
  </div>
  <div>
    <span id='status'></span>
  </div>
</div>


<div class="uk-flex uk-flex-nowrap">
  <div class="uk-width-1-2 uk-margin-small" id='editBox'>
    <div class="uk-width-1-1 uk-margin-small" id="titleEditor"></div>
    <div class="uk-width-1-1 uk-margin-small" id="bodyEditor"></div>
  </div>
  <div class="uk-width-1-2 uk-margin-small" id='renderBox'></div>
</div>





<% include ../templates/scripts.ejs %>
<script src="/js/docs/common.js" type="text/javascript"></script>
<script src="/js/docs/render.js" type="text/javascript"></script>
<script src="/js/docs/edit.js" type="text/javascript"></script>

</body>
<% include ../templates/foot.ejs %>
</html>
